<app-nav-bar [loginFlag]="loginFlag"></app-nav-bar>
<div class="container-fluid mt-3">
    <div *ngIf="flagEdit" class="alert alert-warning mt-3 mb-1">
        Data of employee is success edited!
    </div>
    <div *ngIf="flagDelete" class="alert alert-danger mt-3 mb-1">
        Data of employee is success deleted!
    </div>
    <div class="float-right mt-2 mb-2">
        <button class="btn btn-info btn-sm" type="button" [routerLink]="['/employeeAdd', loginFlag]">Add</button>
    </div>
    <app-table-employee [loginFlag]="loginFlag" (onClickedAction)=declareAlertFlag($event)></app-table-employee>
    <app-pagination></app-pagination>
</div>