<app-nav-bar [loginFlag]="loginFlag"></app-nav-bar>
<div class="container-fluid mt-3">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
            <div *ngIf="username.invalid" class="alert alert-danger">
                <div *ngIf="username.errors.required">
                    Username column must be filled.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstname">
            <div *ngIf="firstname.invalid" class="alert alert-danger">
                <div *ngIf="firstname.errors.required">
                    First name column must be filled.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastname">
            <div *ngIf="lastname.invalid" class="alert alert-danger">
                <div *ngIf="lastname.errors.required">
                    Last name column must be filled.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
            <div *ngIf="email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors.required">
                    Email column must be filled.
                </div>
                <div *ngIf="email.errors.pattern">
                    Email column must be contain @ character.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Birth Date</label>
            <div class="bg-dark pl-2">
                <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="birthdate">
                <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div *ngIf="birthdate.invalid" class="alert alert-danger">
                Birth Date format is invalid.
            </div>
        </div>
        <div class="form-group">
            <label>Basic Salary</label>
            <input type="text" class="form-control" formControlName="basicsalary">
            <div *ngIf="basicsalary.invalid" class="alert alert-danger">
                <div *ngIf="basicsalary.errors.required">
                    Basic salary column must be filled.
                </div>
                <div *ngIf="basicsalary.errors.pattern">
                    Basic salary column must be number.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" formControlName="status">
            <div *ngIf="status.invalid" class="alert alert-danger">
                <div *ngIf="status.errors.required">
                    Status column must be filled.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Group</label>
            <input type="text" class="form-control"
                aria-label="Number"
                matInput
                [formControl]="group"
                [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <div class="form-group">
            <label>Description</label>
            <div class="bg-dark pl-2">
                <input matInput [matDatepicker]="descPicker" formControlName="description">
                <mat-datepicker-toggle [for]="descPicker"></mat-datepicker-toggle>
                <mat-datepicker #descPicker></mat-datepicker>
            </div>
            <div *ngIf="description.invalid" class="alert alert-danger">
                Description format is invalid.
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-sm mr-3" [disabled]="!formdata.valid" [routerLink]="['/employees', loginFlag]">Save</button>
            <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['/employees', loginFlag]">Cancel</button>
        </div>
    </form>
</div>