<table class="table table-hover table-responsive-md table-bordered mt-3 mb-3">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">User Name</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Basic Salary</th>
            <th scope="col">Status</th>
            <th scope="col">Group</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td><a [routerLink]="['/employeeDetail', loginFlag, employee.username]">{{ employee.username }}</a></td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.birthDate }}</td>
            <td>{{ employee.basicSalary }}</td>
            <td>{{ employee.status }}</td>
            <td>{{ employee.group }}</td>
            <td>{{ employee.description }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning btn-sm" (click)="showEditNotif()">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="showDeleteNotif()">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>