<app-nav-bar [loginFlag]="loginFlag"></app-nav-bar>
<div class="container-fluid mt-3">
    <form>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" disabled [value]="employee.username">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" disabled [value]="employee.firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" disabled [value]="employee.lastName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" disabled [value]="employee.email">
        </div>
        <div class="form-group">
            <label>Birth Date</label>
            <input type="text" class="form-control" disabled [value]="employee.birthDate">
        </div>
        <div class="form-group">
            <label>Basic Salary</label>
            <div class="input-group">
                <span class="input-group-text">Rp.</span>
                <input type="text" class="form-control" disabled [value]="employee.basicSalary">
            </div>
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" disabled [value]="employee.status">
        </div>
        <div class="form-group">
            <label>Group</label>
            <input type="text" class="form-control" disabled [value]="employee.group">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" disabled [value]="employee.description">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary btn-sm" [routerLink]="['/employees', loginFlag]">OK</button>
        </div>
    </form>
</div>