<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
    <span class="navbar-brand mb-0 h1">
        <img src="/assets/images/logo.png">
    </span>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <ng-template [ngIf]="loginFlag">
                    <a class="nav-link" [routerLink]="['/employees', loginFlag]">Employee</a>
                </ng-template>
            </li>
        </ul>
    </div>
    <form class="form-inline">
        <ng-template [ngIf]="loginFlag">
            <button class="btn btn-sm btn-outline-light" type="button" (click)="backToLogin()">Sign out</button>
        </ng-template>
    </form>
</nav>