<app-nav-bar [loginFlag]="loginFlag"></app-nav-bar>
<div class="container-fluid mt-3">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="username">
            <div *ngIf="username.invalid" class="alert alert-danger">
                <div *ngIf="username.errors.required">
                    Username is required.
                </div>
                <div *ngIf="username.errors.pattern">
                    Username must be contain @ character.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-sm">Sign in</button>
        </div>
    </form>
    <div *ngIf="invalidFlag" class="alert alert-danger">
        Username or password is invalid.
    </div>
</div>